
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}


.input-group input {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  text-align:center;
}

.login-btn:hover {
  background: #5a67d8;
}

.extra-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.extra-links a {
  font-size: 13px;
  color: #667eea;
  text-decoration: none;
}

.extra-links a:hover {
  text-decoration: underline;
}
